.register {
  height: 100vh;
  width: 100vw;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.registerImg {
  position: absolute;
  display: flex;
  margin-left: -5rem;
  max-width: 90%;
  max-height: 90%;
}

.registerLeft,
.registerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerLogo {
  font-size: 3rem;
  font-weight: 800;
  color: #930c10;
  margin-bottom: 10px;
  text-shadow: 2px 2px black;
  z-index: 1;
}

.registerDesc {
  font-size: 1.5rem;
  z-index: 1;
  color: white;
  text-shadow: 2px 2px 1px black;
}

.registerBox {
  height: 25rem;
  padding: 1rem;
  background-color: #f7ce65cc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 1;
}

.registerInput {
  height: 3rem;
  border-radius: 20% 10px;
  border: 1px solid grey;
  font-size: 18px;
  padding-left: 20px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  height: 3rem;
  width: 80%;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: #930c10;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.toLoginButton {
  height: 3rem;
  width: 60%;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: #290000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.registerButton:active {
  background: #930c10;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.toLoginButton:active {
  background: #290000;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

@media (max-width: 1025px) and (orientation: portrait) {
  .registerWrapper {
    flex-direction: column;
    width: 90%;
    height: 90%;
    align-items: center;
  }

  .registerImg {
    margin-left: -25%;
  }

  .registerRight {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .registerImg {
    margin-left: -10%;
  }
  .registerRight {
    width: 90%;
  }
}
