.article {
  flex: 8.5;
  margin: 2rem;
  height: 90%;
  background-image: url('../../../public/assets/paperBackground.jpg');
  box-shadow: 0.5rem 0.5rem 2rem black, 0 0 4rem #8a4d0f inset;
  /* background: #fffef0; */
  border-radius: 1rem;
  filter: url(#wavy2);
}

.articleWrapper {
  padding: 1rem;
}

.articleTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articleTopLeft {
  display: flex;
  align-items: center;
}

.articleProfileImg {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.articleUsername {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0.5rem;
}

.articleUsername:hover {
  text-decoration: underline;
}

.articleDate {
  font-size: 1rem;
  align-self: flex-end;
}

.articleCenter {
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
}

.articleTitle {
  align-self: center;
}

.articleText {
  align-self: center;
  width: 95%;
  text-align: justify;
  text-justify: inter-word;
}

.articleImg {
  margin-top: 1rem;
  width: 100%;
  object-fit: content;
}

.articleBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articleBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.articleLikeCounter {
  font-size: 1rem;
}

.articleCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 1rem;
}
