.radios {
  flex: 9;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.podcastTitle {
  margin-top: 1rem;
  width: 25rem;
  text-align: center;
  background-image: url('../../../public/images/paperBackground.jpg');
  box-shadow: 0.5rem 0.5rem 2rem black;
}

.spotifyWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.spotifyShare {
  background-image: url('../../../public/images/paperBackground.jpg');
  box-shadow: 0.5rem 0.5rem 2rem black, 0 0 4rem #8a4d0f inset;
  margin-top: 1rem;
  padding: 1rem;
  height: 15rem;
  border: none;
}

.spotifyShare::-webkit-scrollbar-track {
  background: transparent;
}

.spotifyShare::-webkit-scrollbar-thumb {
  background: transparent;
}

.spotifyPlaylist {
  background-image: url('../../../public/assets/images/paperBackground.jpg');
  box-shadow: 0.5rem 0.5rem 2rem black, 0 0 4rem #8a4d0f inset;
  margin-top: 1rem;
  padding: 1rem;
  height: 15rem;
  width: 70%;
}
