.homeContainer {
  display: flex;
}

.sidebar {
  background-color: #fffebd;
  flex: 3;
  height: calc(100vh - 2rem);
  overflow-y: scroll;
  position: sticky;
  top: 2rem;
  -webkit-box-shadow: 0px 0px 0.5rem rgb(92, 92, 92), 0 0 3rem #8a4d0f inset;
  box-shadow: 0px 0px 0.5rem rgb(92, 92, 92), 0 0 3rem #8a4d0f inset;
}

::-webkit-scrollbar-y {
  width: 0.5rem;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
}

:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
}

:hover::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 1.5rem;
}
