.sidebar {
  background-color: #fffebd;
  flex: 3;
  height: calc(100vh - 2rem);
  overflow-y: scroll;
  position: sticky;
  top: 2rem;
}

::-webkit-scrollbar-y {
  width: 0.5rem;
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
  background: transparent;
}

:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
}

:hover::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
}

.sidebarWrapper {
  padding: 1.5rem;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebarIcon {
  margin-right: 1rem;
  color: #290000;
}

.sidebarButton {
  background-color: #f7ce65;
  width: 10rem;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

.sidebarHr {
  margin: 1rem 0;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
