.rightbar {
  flex: 3.5;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImg {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.birthdayText {
  font-weight: 300;
  font-size: 1rem;
}

.playlist {
  align-self: center;
  width: 90%;
  height: 20rem;
  border-radius: 1rem;
  border: 3px solid black;
  margin: 2rem 0;
}

.rightbarFriendsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rightbarTitle {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.rightbarInfo {
  margin-bottom: 1rem;
}

.rightbarInfoItem {
  margin-bottom: 0.5rem;
}

.rightbarInfoKey {
  font-weight: bold;
  margin-right: 1rem;
  color: #555;
}

.rightbarInfoValue {
  color: rgb(109, 109, 109);
}

.rightbarfollowinss {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.rightbarfollowins {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  cursor: pointer;
}

.rightbarfollowinsImg {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.rightbarFollowButton {
  width: 7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: none;
  background-color: #f7ce65;
  color: #290000;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
